name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "20 12 * * *"
jobs:
  test:
    name: Test on Ruby ${{ matrix.ruby }} with Rails ${{ matrix.rails }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.6', '2.7', '3.0', '3.1', '3.2', '3.3']
        rails: ['6.0', '6.1', '7.0', '7.1', '7.2', 'edge']
        exclude:
          - ruby: '2.6'
            rails: '7.0'
          - ruby: '2.6'
            rails: '7.1'
          - ruby: '2.6'
            rails: '7.2'
          - ruby: '2.6'
            rails: 'edge'
          - ruby: '2.7'
            rails: '7.1'
          - ruby: '2.7'
            rails: '7.2'
          - ruby: '3.0'
            rails: '7.2'
          - ruby: '2.7'
            rails: 'edge'
          - ruby: '3.0'
            rails: 'edge'
          - ruby: '3.1'
            rails: 'edge'
    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: sudo apt-get update -y && sudo apt-get install -y --no-install-recommends libvips imagemagick

      - uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 # v1.265.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rake test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0 # v1.265.0
        with:
          ruby-version: '3'
          bundler-cache: true

      - run: bundle exec rubocop --debug
