name: Release
run-name: Release v${{ inputs.version }} with apply=${{ inputs.apply }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: version. The next release version (without prefix v)
        required: true
      apply:
        description: apply. Specify whether the actual release should be performed or not
        type: boolean
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: rubygems/configure-rubygems-credentials@bc6dd217f8a4f919d6835fcfefd470ef821f5c44 # v1.0.0

      - uses: ruby/setup-ruby@e5517072e87f198d9533967ae13d97c11b604005 # v1.99.0
        with:
          ruby-version: '3'
          bundler-cache: true

      - name: Update `RailsBand::VERSION`
        run: |
          cat <<RUBY > lib/rails_band/version.rb
          # frozen_string_literal: true

          module RailsBand
            VERSION = '${{ inputs.version }}'
          end
          RUBY

      - run: git diff

      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Bump to ${{ inputs.version }}
        if: inputs.apply

      - run: gem build rails_band.gemspec

      - run: gem push ./*.gem
        if: inputs.apply

      - uses: yykamei/actions-release-actions@451f5f47bc1e9cdad23d644cefd5413fe557b94a # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          tag: v${{ inputs.version }}
          apply: ${{ inputs.apply }}
          overwrite-major-minor: 'false'
